.info-main__text__title{
  width: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6vw;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.02vw;
  color: #3B3B3B;
  margin-bottom: 2vw;
  @media (max-width: 768px) {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
}

.agreement__text {
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 150%;
  letter-spacing: 0.02vw;
  color: #3B3B3B;
  margin-bottom: 0.75vw;
  @media (max-width: 768px) {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
}

.agreement__list{
  text-align: justify;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  line-height: 150%;
  letter-spacing: 0.02vw;
  color: #3B3B3B;
  margin-bottom: 0.75vw;
  @media (max-width: 768px) {
    font-size: 4vw;
    margin-bottom: 5vw;
  }
}
