@import "./null.scss";
@import "./functions.scss";
@import "./variables.scss";
@import "./agreement_rules.scss";

*{
  font-family: 'Montserrat', sans-serif;
}

.container{
  max-width: size(1200, 1920);
  margin: auto;
  height: 100%;
  @media (max-width: 768px){
    max-width: size(320, 360);
  }
}