$blue: #5596e8;
$gray: #8C8D9E;
$dark-gary: #4b6679;

@mixin centerer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin between {
  display: flex;
  align-items: center;
  justify-content: center;
}