<template>
  <div class="wrapper">
    <div class="container">
      <div class="content">
        <h1>Запрошенная страница не найдена</h1>
        <router-link to="/">На главную</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.wrapper {
  border-top: 1px solid gray;
  height: 100%;
}
.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  text-align: center;
  font-size: 2vw;
}
a {
  margin-top: 1vw;
  padding: 0.8vw 1.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: size(22, 1920);
  color: #3971ff;
  border: 1px solid #c4c4c4;
  border-radius: size(6, 1920);
  cursor: pointer;
  &:hover {
    background-color: #f6f6f6;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding: 35vw 0 !important;
  }
  h1 {
    font-size: 7vw;
  }
  a {
    border-radius: size(6, 360);
    margin-top: 4vw;
    padding: 2.8vw 3.7vw;
    font-size: size(16, 360);
  }
}
</style>
