<template>
  <div class="wrapper">
    <div class="container">
      <backBtn :path="`/`" text="Вернуться назад" />
      <p class="info-main__text__title" v-html="title"></p>
      <div class="content" v-html="content"></div>
    </div>
  </div>
</template>

<script>
import { api } from "../api/api";
import backBtn from "@/components/back-btn";

export default {
  data() {
    return {
      title: null,
      content: null,
    };
  },
  created() {
    this.loadRules();
  },
  methods: {
    async loadRules() {
      try {
        const result = await api.get("api/agreement/plain_appeal_agreement");
        this.content = result.data.text;
        this.title = result.data.title;
        return result.data.text;
      } catch (e) {
        throw e;
      }
    },
  },
  components: { backBtn },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.back {
  margin-top: size(50, 1920);
  margin-bottom: size(50, 1920);
  display: flex;
  text-decoration: none;
  align-items: center;
  svg {
    width: size(24, 1920);
    padding-bottom: size(7, 1920); // делаю стрелку по центру
    path {
      fill: #8d8d9e;
    }
  }
  p {
    margin-left: size(22, 1920);
    font-weight: 300;
    font-size: size(24, 1920);
    color: #8d8d9e;
    line-height: size(33, 1920);
    margin-top: -size(8, 1920);
  }
}
.content {
  margin-bottom: size(50, 1920);
}

@media (max-width: 768px) {
  .back {
    margin-top: size(24, 360);
    margin-bottom: size(23, 360);
    svg {
      width: size(20, 360);
      padding-bottom: size(7, 360); // делаю стрелку по центру
      path {
        fill: #8d8d9e;
      }
    }
    p {
      margin-left: size(15, 360);
      font-size: size(15, 360);
      line-height: size(33, 360);
      margin-top: -size(8, 360);
    }
  }
}
</style>
