<template>
  <div class="wrapper">
    <div class="container">
      <div class="info-main__text__title" v-html="title"></div>
      <div class="content" v-html="content"></div>
    </div>
  </div>
</template>

<script>
import { api } from "../api/api";
export default {
  data() {
    return {
      title: null,
      content: null,
    };
  },
  created() {
    this.loadRules();
  },
  methods: {
    async loadRules() {
      try {
        const result = await api.get("api/agreement/bot_rules_agreement");
        this.content = result.data.text;
        this.title = result.data.title;
        return result.data.text;
      } catch (e) {
        throw e;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.info-main__text__title {
  margin-top: 2vw;
  @media (max-width: 768px) {
    margin-top: 5vw;
  }
}
.content {
  margin-bottom: size(50, 1920);
}
</style>
