<template>
  <div class="home">
    <firstSection />
    <secondSection />
    <resultSection />
    <statstatistics />
    <instruction />
    <lap />
    <informationalResources />
    <banners />
  </div>
</template>

<script>
import firstSection from "@/components/home/bg-section";
import secondSection from "@/components/home/actual-themes";
import resultSection from "@/components/home/results-work";
import statstatistics from "../components/home/statstatistics";
import instruction from "@/components/home/instruction";
import lap from "@/components/home/lap";
import informationalResources from "@/components/home/informational-resources";
import banners from "@/components/home/banners";
export default {
  name: "home",
  components: {
    firstSection,
    secondSection,
    resultSection,
    statstatistics,
    instruction,
    lap,
    informationalResources,
    banners,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
</style>
