<template>
  <div class="wrapper" v-if="item">
    <div class="container">
      <backBtn :path="'/'" text="Вернуться назад" />
      <p class="title">{{ item.title }}</p>
      <ul class="accordion-list">
        <accordionItem
          v-for="(item, key) in item.questions"
          :key="key"
          :item="item"
        />
      </ul>
      <p class="title" v-if="companies">Компании</p>
      <ul class="companies-list" v-if="companies">
        <companiesCard
          v-for="(item, key) in companies"
          :key="key"
          :item="item"
        />
      </ul>
      <p class="title" v-if="docs">Образцы документов</p>
      <ul class="docs-list" v-if="docs">
        <li v-for="(item, key) in docs" :key="key">
          <img
            src="../assets/img/document-list-marker.svg"
            alt="Документ"
            class="docs-list__marker"
          />
          <a :href="$store.getters.getApiUrl + item.image">{{ item.title }}</a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import backBtn from "@/components/back-btn";
import accordionItem from "@/components/accordion-item";
import companiesCard from "@/components/companies-card";

export default {
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    item() {
      return this.MainServices.getItemDetail(
        "api/hot_topics/" + this.$route.params.id
      );
    },
    companies() {
      return this.MainServices.getItems("/api/hot_companies");
    },
    docs() {
      return this.MainServices.getItems("/api/hot_docs");
    },
  },
  created() {
    this.$store.commit("setDetail", null);
  },
  watch: {
    item: function () {
      if (this.item) document.title = this.item.title;
    },
  },
  components: { backBtn, accordionItem, companiesCard },
};
</script>

<style scoped lang="scss">
.title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.6vw;
  line-height: 130%;
  letter-spacing: 0.02vw;
  color: #3b3b3b;
  margin-bottom: 1vw;
}

ul {
  margin-bottom: 3vw;
}

.companies-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 1vw;
}

.docs-list {
  .docs-list__marker {
    width: 1.4vw;
    margin-right: 0.8vw;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0.6vw;

    a {
      font-size: 1.2vw;
      line-height: 140%;
      color: #3971ff;

      &:hover {
        color: #0056b3;
      }
    }
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 5vw;
    margin-bottom: 4vw;
  }
  ul {
    margin-bottom: 8vw;
  }
  .companies-list {
    display: flex;
    flex-wrap: wrap;
  }
  .docs-list {
    .docs-list__marker {
      width: 6.2vw;
      margin-right: 2.8vw;
    }

    li {
      margin-bottom: 4.6vw;

      a {
        font-size: 4.3vw;
        line-height: 110%;
      }
    }
  }
}
</style>
