<template>
  <div class="detail">
    <div class="container" v-if="item">
      <div class="detail-header">
        <router-link to="/houses" href="#" class="header-title">
          <svg
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.41436 10.0001L10.7073 16.293L9.29304 17.7072L0.585938 9.00008L9.29304 0.292969L10.7073 1.70718L4.41436 8.00008H19.0002V10.0001H4.41436Z"
              fill="#020523"
            />
          </svg>
          <p class="title">{{ item.address }}</p>
        </router-link>
      </div>
      <div class="content">
        <div class="info">
          <div class="item">
            <p class="item-title">Статус</p>
            <div class="item-text">
              <img
                :src="`https://artamonovigor.ru/img/houses/` + item.icon"
                alt="Статус"
              />
              <p class="status_text">{{ item.status }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Новый застройщик/подрядчик:</p>
            <div class="item-text">
              <p class="status_text">
                <span>{{ item.org_new }}</span
                >, <span>{{ item.contact_new }}</span>
              </p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">План ввода в эксплуатацию:</p>
            <div class="item-text">
              <p class="status_text">{{ item.date_new }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Первоначальный застройщик:</p>
            <div class="item-text">
              <p class="status_text">{{ item.org_old }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Начало строительства (год):</p>
            <div class="item-text">
              <p class="status_text">{{ item.date_old }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Количество квартир, шт:</p>
            <div class="item-text">
              <p class="status_text">{{ item.flates }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">
              Количество зарегистрированных договоров долевого участия, шт:
            </p>
            <div class="item-text">
              <p class="status_text">{{ item.ddu }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">
              Выполненные работы с 01.10.2018 по настоящее время:
            </p>
            <div class="item-text">
              <p class="status_text">{{ item.doing }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Ближайшие мероприятия:</p>
            <div class="item-text">
              <p class="status_text">{{ item.acts }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">Дата признания дома проблемным:</p>
            <div class="item-text">
              <p class="status_text">{{ item.date_problem }}</p>
            </div>
          </div>

          <div class="item">
            <p class="item-title">
              Срок ввода в эксплуатацию (по договорам долевого участия):
            </p>
            <div class="item-text">
              <p class="status_text">{{ item.date_in }}</p>
            </div>
          </div>
        </div>
        <!--        stream-->
        <div class="stream">
          <a href="http://camera.lipetsk.ru/building">
            <img
              :src="`http://camera.lipetsk.ru/images/${item.uuid}/snapshot.jpg?timestamp=1552286175`"
              alt="Трансляция"
            />
          </a>
          <a class="stream-link" href="http://camera.lipetsk.ru/building">
            Смотреть трансляцию
            <svg
              viewBox="0 0 21 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.5856 10.0001L-0.000147455 10.0001L-0.000147367 8.00008L16.5856 8.00008L10.2927 1.70718L11.707 0.292968L20.4141 9.00008L11.707 17.7072L10.2927 16.293L16.5856 10.0001Z"
                fill="#3971FF"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";

export default {
  name: "houses-detail",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    item() {
      return this.MainServices.getItemDetail(
        "api/houses/" + this.$route.params.id
      );
    },
  },
  created() {
    this.$store.commit("setDetail", null);
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.detail {
  border-top: 1px solid gray;
  padding-top: size(66, 1920);
}

.detail-header {
  display: flex;
  justify-content: space-between;
  .header-title {
    width: size(540, 1920);
    justify-content: space-between;
    display: flex;
    align-items: center;
    svg {
      width: size(19, 1920);
    }
    .title {
      width: size(499, 1920);
      font-family: "Montserrat", sans-serif;
      font-weight: 600;
      font-size: size(24, 1920);
      color: #020523;
      line-height: size(33, 1920);
    }
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: size(54, 1920);
  padding-bottom: size(129, 1920);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

//ITEM PC
.item {
  width: size(562, 1920);
  display: flex;
  flex-direction: column;
  margin-bottom: size(30, 1920);
  .item-title {
    font-weight: 400;
    font-size: size(16, 1920);
    line-height: 140%;
    color: rgba(2, 5, 35, 0.5);
  }
  .item-text {
    display: flex;
    align-items: center;
    margin-top: size(10, 1920);
    font-size: size(16, 1920);
    line-height: 150%;
    color: #020523;
    img {
      width: size(19, 1920);
      margin-right: size(12, 1920) !important;
    }
  }
}

//STREAM PC
.stream {
  display: flex;
  flex-direction: column;
  align-items: start;
  .stream-link {
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: size(18, 1920);
    font-weight: 400;
    line-height: size(21, 1920);
    margin-top: size(21, 1920);
    img {
      width: size(24, 1920);
    }
  }
  img {
    width: size(506, 1920);
    height: size(285, 1920);
    border-radius: size(6, 1920);
  }

  .stream-link {
    color: #3971ff;
    svg {
      width: size(21, 1920);
      margin-left: size(11, 1920);
    }
  }
}

@media (max-width: 768px) {
  .detail {
    padding-top: size(20, 360);
    border-top: none;
  }
  .detail-header {
    display: flex;
    justify-content: space-between;
    align-items: start;

    .header-title {
      width: 100%;
      align-items: start;

      svg {
        width: size(19, 360) !important;
        margin-right: size(20, 360);
      }

      .title {
        width: 100%;
        font-size: size(24, 360);
        color: #020523;
        line-height: size(33, 360);
        margin-top: -size(8, 360);
      }
    }
  }
  .content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;

    .info {
      margin-top: size(42, 360);
    }

    //ITEM
    .item {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: size(30, 360);

      .item-title {
        font-weight: 400;
        font-size: size(16, 360);
        line-height: 140%;
        color: rgba(2, 5, 35, 0.5);
      }

      .item-text {
        display: flex;
        align-items: center;
        margin-top: size(6, 360);
        font-size: size(16, 360);
        line-height: 150%;
        color: #020523;

        img {
          width: size(19, 360);
          margin-right: size(12, 360);
        }
      }
    }

    //CAMERA
    .stream {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: start;

      img {
        margin-top: size(24, 1920);
        border-radius: size(8, 360);
        width: 100%;
        height: size(185, 360);
      }

      .stream-link {
        font-size: size(16, 360);
        line-height: 120%;
        color: #3971ff;
        margin-top: size(24, 360);

        svg {
          width: size(21, 360);
          margin-left: size(11, 360);
        }
      }
    }
  }
}
</style>
