<template>
  <div class="tablets">
    <div class="container">
      <div class="tablets-header">
        <router-link to="/" href="#" class="header-title">
          <svg
            viewBox="0 0 19 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.41436 10.0001L10.7073 16.293L9.29304 17.7072L0.585938 9.00008L9.29304 0.292969L10.7073 1.70718L4.41436 8.00008H19.0002V10.0001H4.41436Z"
              fill="#020523"
            />
          </svg>
          <p>Информация для обманутых дольщиков</p>
        </router-link>
        <div class="header-descr">
          <p>
            Объявление для участников долевого строительства:
            <span>Июнь 2021</span>
          </p>
        </div>
      </div>
      <div class="cards">
        <housesCard v-for="(item, key) in houses" :item="item" :key="key" />
      </div>
    </div>
  </div>
</template>

<script>
import housesCard from "@/components/houses/houses-card";
import MainServices from "@/services/MainServices";
export default {
  name: "tablets",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    houses() {
      return this.MainServices.getItems("/api/houses");
    },
  },
  components: {
    housesCard,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.tablets {
  border-top: 1px solid gray;
  padding-top: size(66, 1920);
}

.tablets-header {
  display: flex;
  justify-content: space-between;
  .header-title {
    width: size(423, 1920);
    display: flex;
    justify-content: space-between;
    align-items: start;
    svg {
      width: size(24, 1920);
    }
    p {
      margin-left: size(22, 1920);
      font-weight: 600;
      font-size: size(24, 1920);
      color: #020523;
      line-height: size(33, 1920);
      margin-top: -size(8, 1920);
    }
  }
}
.header-descr {
  width: size(300, 1920);
  font-weight: 400;
  font-size: size(16, 1920);
  color: #020523;
  line-height: size(24, 1920);
  span {
    color: #3971ff;
  }
}

.cards {
  width: 100%;
  margin-top: size(50, 1920);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: size(174, 1920);
}

@media (max-width: 768px) {
  .tablets {
    border-top: none;
  }
  .tablets-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .header-title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: start;
      svg {
        width: size(22, 360);
      }
      p {
        margin-left: size(12, 360);
        font-weight: 600;
        font-size: size(24, 360);
        color: #020523;
        line-height: size(33, 360);
        margin-top: -size(8, 360);
      }
    }
    .header-descr {
      margin-top: size(32, 360);
      width: 100%;
      font-weight: 400;
      font-size: size(16, 360);
      color: #020523;
      line-height: 140%;
      span {
        color: #3971ff;
      }
    }
  }

  .cards {
    display: flex;
    flex-direction: column;
    margin-top: size(25, 360);
    margin-bottom: size(42, 1920);
  }
}
</style>
