<template>
  <div class="wrapper">
    <div class="container">
      <backBtn :path="`/`" text="Вернуться назад" />
      <p class="info-main__text__title">
        Правила работы объединенной группы сайтов «Развиваем Липецкую область
        вместе!» в информационно-телекоммуникационной сети «Интернет»
      </p>
      <div class="content" v-html="content"></div>
    </div>
  </div>
</template>

<script>
import { api } from "../api/api";
import backBtn from "@/components/back-btn";
export default {
  data() {
    return {
      title: null,
      content: null,
    };
  },
  created() {
    this.loadRules();
  },
  methods: {
    async loadRules() {
      try {
        const result = await api.get("api/agreement/registration_agreement");
        this.content = result.data.text;
        this.title = result.data.title;
        return result.data.text;
      } catch (e) {
        throw e;
      }
    },
  },
  components: { backBtn },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.content {
  margin-bottom: size(50, 1920);
}
</style>
