<template>
  <section class="actual-themes">
    <div class="container">
      <div class="themes-header">
        <p class="title">Актуальные темы</p>
        <a href="https://wiki.admlr.lipetsk.ru/" class="link">
          <span id="pc">Другие проблемы</span>
          <span id="mobile">Все</span>
          <svg
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.5633 9.98396H0.977539V7.98396H15.5633L9.27043 1.69107L10.6846 0.276855L19.3918 8.98396L10.6846 17.6911L9.27043 16.2769L15.5633 9.98396Z"
              fill="#3971FF"
            />
          </svg>
        </a>
      </div>
      <div class="cards">
        <div
          class="cards-wrapper"
          :to="'/hot/' + item.id"
          v-for="(item, key) in themes"
          :key="key"
        >
          <a class="card" :href="item.link" v-if="checkLink(item.link)">
            <img :src="$store.getters.getApiUrl + item.image" alt="" />
            <p class="card-title">{{ item.title }}</p>
          </a>
          <router-link class="card" :to="'/hot/' + item.id" v-else>
            <img :src="$store.getters.getApiUrl + item.image" alt="" />
            <p class="card-title">{{ item.title }}</p>
          </router-link>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MainServices from "@/services/MainServices";

export default {
  name: "actual-themes",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  methods: {
    checkLink(link) {
      if (link.substring(0, 4) === "http" || link.substring(0, 3) === "www")
        return true;
    },
  },
  computed: {
    themes() {
      return this.MainServices.getItems("/api/hot_topics");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

#pc {
  display: block;
}
#mobile {
  display: none;
}

.actual-themes {
  padding-top: size(80, 1920);
}
.themes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: size(60, 1920);
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: size(32, 1920);
    line-height: 140%;
    color: #020523;
  }
  .link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: size(18, 1920);
    line-height: 140%;
    color: #5988ff;
    svg {
      width: size(22, 1920);
      margin-left: size(11, 1920);
    }
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: size(85, 1920);
  .card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f9f9fe;
    border-radius: size(8, 1920);
    width: size(389, 1920);
    height: size(112, 1920);
    padding: size(25, 1920);
    margin-bottom: size(17, 1920);
    img {
      width: size(64, 1920);
      margin-right: size(24, 1920);
    }
    svg {
      width: size(64, 1920);
      margin-right: size(24, 1920);
    }
    .card-title {
      font-style: normal;
      font-weight: 500;
      font-size: size(18, 1920);
      line-height: 140%;
      color: #000000;
    }
  }
}

@media (max-width: 768px) {
  #pc {
    display: none;
  }
  #mobile {
    display: block;
  }
  .actual-themes {
    padding-top: size(40, 360);
    padding-bottom: size(40, 360);
  }
  .themes-header {
    margin-bottom: size(60, 1920);
    .title {
      font-size: size(23, 360);
    }
    .link {
      font-size: size(18, 360);
      svg {
        width: size(15, 360);
        margin-left: size(7, 360);
      }
    }
  }
  .cards {
    width: 100%;
    margin-top: size(30, 360);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: size(8, 360);
    .cards-wrapper {
      width: 100%;
    }
    .card {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #f9f9fe;
      border-radius: size(8, 360);
      width: 100%;
      height: size(64, 360);
      padding: size(25, 360);
      margin-bottom: size(17, 1920);
      img {
        width: size(32, 360);
        margin-right: size(24, 360);
      }
      svg {
        width: size(32, 360);
        margin-right: size(24, 360);
      }
      .card-title {
        font-size: size(16, 360);
      }
    }
  }
}
</style>
