<template>
  <div class="informational-resources">
    <div class="container">
      <p class="title">Полезные ресурсы</p>
      <div class="content">
        <resourceMobileSlider />
        <div class="cards">
          <banner-item v-for="(item, key) in banners" :key="key" :item="item" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";

import bannerItem from "@/components/home/banner-item";
import resourceMobileSlider from "@/components/mobile/banners-mobile-slider";
export default {
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    banners() {
      return this.MainServices.getItems("/api/banners");
    },
  },
  components: {
    bannerItem,
    resourceMobileSlider,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.informational-resources {
  padding-top: size(55, 1920);
  padding-bottom: size(85, 1920);
}
.content {
  width: 100%;
  margin-top: size(43, 1920);
}

.title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: size(32, 1920);
  line-height: 140%;
  color: #020523;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .card {
    //display: flex;
    //justify-content: flex-start;
    //align-items: center;
    //width: size(262, 1920);
    //height: size(102, 1920);
    //padding: size(18, 1920);
    //border: 1px solid #EAEAEA;
    //margin-top: 0;
    //margin-right: size(12, 1920);
    //margin-left: size(12, 1920);
    //margin-bottom: size(22, 1920);
    //img{
    //  width: size(65, 1920);
    //  margin-right: size(15, 1920);
    //}
    //.card-title{
    //  font-style: normal;
    //  font-weight: 500;
    //  font-size: size(14, 1920);
    //  line-height: 140%;
    //  color: #000000;
    //  text-transform: uppercase;
    //}
  }
}

@media (max-width: 768px) {
  .informational-resources {
    padding-top: size(40, 360);
    padding-bottom: size(40, 360);
  }
  .content {
    margin-top: size(23, 360);
  }

  .title {
    font-size: size(24, 360);
    text-align: start;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    //.card{
    //  display: flex;
    //  justify-content: flex-start;
    //  align-items: center;
    //  width: size(130, 360);
    //  height: size(53, 360);
    //  padding: size(18, 360);
    //  border: 1px solid #EAEAEA;
    //  margin-top: 0;
    //  margin-right: size(12, 1920);
    //  margin-left: size(12, 1920);
    //  margin-bottom: size(22, 1920);
    //  display: none;
    //  img{
    //    width: size(24, 360);
    //    margin-right: size(11, 360);
    //  }
    //  .card-title{
    //    font-style: normal;
    //    font-weight: 500;
    //    font-size: size(6, 360);
    //    line-height: 140%;
    //    color: #000000;
    //    text-transform: uppercase;
    //  }
    //}
  }
}

.bannerMobileSlider {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

@media (max-width: 768px) {
  .cards {
    display: none;
  }
}
</style>
