<template>
  <a :href="item.link" :title="item.title" class="card">
    <img :alt="item.title" :src="$store.getters.getApiUrl + item.image" />
  </a>
</template>

<script>
export default {
  name: "banner-item",
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.card {
  // border: 1px solid red;
  width: size(252, 1920) !important;
  // height: size(102, 1920);
  // padding: size(18, 1920);
  // border: 1px solid #EAEAEA;
  //margin-top: 0;
  margin-right: size(12, 1920);
  margin-left: size(12, 1920);
  margin-bottom: size(22, 1920);
  img {
    width: 100%;
    height: 100%;
  }
  .card-title {
    font-style: normal;
    font-weight: 500;
    font-size: size(14, 1920);
    line-height: 140%;
    color: #000000;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .card {
    //display: flex;
    //justify-content: flex-start;
    //align-items: center;
    width: size(135, 360) !important;
    //height: size(53, 360);
    //padding: size(18, 360);
    //border: 1px solid #EAEAEA;
    //img{
    //  width: size(24, 360);
    //  margin-right: size(11, 360);
    //}
    .card-title {
      font-style: normal;
      font-weight: 500;
      font-size: size(6, 360);
      line-height: 140%;
      color: #000000;
      text-transform: uppercase;
    }
  }
}
</style>
