<template>
  <section class="background-blue">
    <div class="container">
      <div class="content-wrapper">
        <img src="../../assets/img/nachalnik.png" alt="" class="photo" />
        <div class="text">
          <p class="title">«Развиваем Липецкую область вместе»</p>
          <div class="text-footer">
            <img src="../../assets/img/rospis.png" alt="" />
            <div class="text-section-footer">
              <p class="title-footer">Артамонов И. Г.</p>
              <p class="textin-footer">Глава администрации Липецкой области</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.background-blue {
  background: #3971ff;
  background: url("../../assets/img/home-bg.png");
  background-size: cover;
  height: size(580, 1920);
  width: 100%;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  width: 100%;

  .photo {
    width: size(918, 1920);
    margin-left: size(230, 1920) * -1;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    height: 100%;
    margin-left: size(195, 1920) * -1;

    .title {
      font-style: normal;
      font-weight: bold;
      font-size: size(55, 1920);
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #ffffff;
      margin-top: size(140, 1920);
    }

    .text-footer {
      width: size(500, 1920);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: size(215, 1920);
      padding-bottom: size(50, 1920);

      img {
        width: size(218, 1920);
      }

      .text-section-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: size(10, 1920);

        .title-footer {
          font-style: normal;
          font-weight: 600;
          font-size: size(30, 1920);
          line-height: 140%;
          letter-spacing: 0.04em;
          color: #ffffff;
        }

        .textin-footer {
          font-style: italic;
          font-weight: 500;
          font-size: size(16, 1920);
          line-height: 130%;
          letter-spacing: 0.02em;
          color: #ffffff;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .background-blue {
    background: url("../../assets/img/home-bg.png");
    background-size: cover;
    height: size(288, 360);
    width: 100%;
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;

    .photo {
      position: absolute;
      width: size(280, 320);
      left: size(190, 1920) * -1;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: start;
      height: 100%;
      margin-left: size(0, 1920) * -1;
      z-index: 2;

      .title {
        font-style: normal;
        font-weight: bold;
        font-size: size(24, 360);
        line-height: 110%;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-top: size(140, 1920);
      }

      .text-footer {
        width: size(185, 360);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
        margin-left: size(130, 320);
        padding-bottom: size(20, 320);

        img {
          width: size(100, 360);
        }

        .text-section-footer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          margin-left: size(10, 1920);

          .title-footer {
            font-style: normal;
            font-weight: 600;
            font-size: size(16, 360);
            line-height: 140%;
            letter-spacing: 0.04em;
            color: #ffffff;
          }

          .textin-footer {
            font-style: italic;
            font-weight: 500;
            font-size: size(8, 320);
            line-height: 130%;
            letter-spacing: 0.02em;
            color: #ffffff;
          }
        }
      }
    }
  }
}
</style>
