<template>
  <div class="informational-resources">
    <div class="container">
      <p class="title">Информационные ресуры</p>
      <div class="content">
        <div class="cards">
          <informationalResourcesItem
            v-for="(item, key) in resources"
            :key="key"
            :item="item"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";
import informationalResourcesItem from "@/components/home/informational-resources-item";
export default {
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    resources() {
      return this.MainServices.getItems("/api/resources");
    },
  },
  components: {
    informationalResourcesItem,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.informational-resources {
  padding-top: size(55, 1920);
  padding-bottom: size(85, 1920);
  border-bottom: 1px solid #e5e5e5;
}
.content {
  width: 100%;
  margin-top: size(43, 1920);
}

.title {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: size(32, 1920);
  line-height: 140%;
  color: #020523;
}

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .informational-resources {
    padding-top: size(40, 360);
    padding-bottom: size(40, 360);
  }
  .content {
    margin-top: size(23, 360);
  }

  .title {
    font-size: size(24, 360);
  }
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}
</style>
