<template>
  <div class="card-wrapper">
    <a
      :href="item.link"
      :title="item.title"
      class="card"
      v-if="checkLink(item.link)"
    >
      <img :src="$store.getters.getApiUrl + item.image" :alt="item.title" />
      {{ item.title }}
    </a>
    <router-link :to="item.link" :title="item.title" class="card" v-else>
      <img :src="$store.getters.getApiUrl + item.image" :alt="item.title" />
      {{ item.title }}
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  methods: {
    checkLink(link) {
      if (link.substring(0, 4) === "http" || link.substring(0, 3) === "www")
        return true;
    },
  },
  name: "informational-resources-item",
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #f9f9fe;
  font-style: normal;
  font-weight: 500;
  font-size: size(18, 1920);
  line-height: 140%;
  color: #000000;
  border-radius: size(8, 1920);
  width: size(389, 1920);
  height: size(112, 1920);
  padding: size(25, 1920);
  margin-bottom: size(17, 1920);

  img {
    width: size(65, 1920);
    margin-right: size(24, 1920);
  }

  .card-title {
    font-style: normal;
    font-weight: 500;
    font-size: size(18, 1920);
    line-height: 140%;
    color: #000000;
  }
}

@media (max-width: 768px) {
  .card-wrapper {
    width: 100%;
  }
  .card {
    width: 100%;
    height: size(103, 360);
    padding: size(25, 360);
    margin-bottom: size(16, 360);
    font-size: size(16, 360);
    border-radius: size(8, 360);

    img {
      width: size(59, 360);
      margin-right: size(24, 360);
    }

    .card-title {
      font-size: size(16, 360);
    }
  }
}
</style>
