<template>
  <section class="instruction">
    <div class="container">
      <div class="content">
        <div class="img">
          <img src="../../assets/img/instruction.png" alt="instruction" />
        </div>
        <div class="text">
          <p class="title">
            Как мы решаем <br />
            проблемы вместе
          </p>
          <div class="descr">
            Никаких сложностей при заполнении! Напишите о том, что вас волнует.
            Обязательно обозначьте адрес проблемы.
            <br /><br />
            Пара фраз, клик по карте — и ваше сообщение готово! Теперь это можно
            сделать с мобильного телефона.
          </div>
          <a
            type="button"
            href="https://xn--80aaacsrmdgfbxdgdi5bs2e0g8b.xn--p1ai/"
            class="link"
            >Написать о проблеме</a
          >
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "instruction",
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.instruction {
  width: 100%;
  padding-top: size(100, 1920);
  padding-bottom: size(100, 1920);
  display: flex;
  justify-content: space-between;
  background: url("../../assets/img/home-bg.png") no-repeat;
  background-size: cover;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    width: size(593, 1920);
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: size(535, 1920);
    margin-left: size(110, 1920);
    .title {
      font-style: normal;
      font-weight: 600;
      font-size: size(48, 1920);
      line-height: 120%;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
    .descr {
      margin-top: size(35, 1920);
      font-style: normal;
      font-weight: normal;
      font-size: size(24, 1920);
      line-height: 150%;
      letter-spacing: 0.02em;
      color: #ffffff;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: size(35, 1920);
      font-style: normal;
      font-weight: normal;
      font-size: size(18, 1920);
      border: 2px solid white;
      border-radius: size(6, 1920);
      line-height: 140%;
      color: #f5f5f5;
      padding: size(13, 1920) size(33, 1920);
      &:hover {
        background-color: #80a4ff;
      }
    }
  }
}

@media (max-width: 768px) {
  .instruction {
    width: 100%;
    padding-top: size(50, 360);
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    background: url("../../assets/img/home-bg.png") no-repeat;
    background-size: cover;
  }
  .content {
    flex-direction: column-reverse;
    .img {
      width: 100%;
      margin-top: size(35, 360);
      overflow: hidden; /* this is important */
      img {
        width: 100%;
        margin-bottom: -size(160, 360);
      }
    }
    .text {
      width: 100%;
      margin-left: 0;
      .title {
        font-size: size(24, 360);
      }
      .descr {
        margin-top: size(22, 360);
        font-size: size(16, 360);
      }
      .link {
        border-radius: size(6, 360);
        margin-top: size(50, 360);
        width: 100%;
        font-size: size(16, 360);
        padding: size(18, 360) size(0, 360);
      }
    }
  }
}
</style>
