<template>
  <div class="lap">
    <div class="container">
      <p class="title">
        Как мы рассматриваем
        <br />
        жалобы и предложения
      </p>
      <div class="content">
        <div class="item" v-for="(item, key) in fragments" :key="key">
          <p class="item-title">{{ item.title }}</p>
          <p class="descr" v-html="item.content"></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MainServices from "@/services/MainServices";

export default {
  name: "lap",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    fragments() {
      return this.MainServices.getItems("/api/fragments");
    },
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.lap {
  z-index: 99 !important;
  background-color: #f9f9fe;
  padding-top: size(70, 1920);
  padding-bottom: size(130, 1920);
}
.title {
  font-style: normal;
  font-weight: 600;
  font-size: size(32, 1920);
  line-height: 140%;
  color: #020523;
}

.content {
  width: 100%;
  margin-top: size(55, 1920);
  display: flex;
  justify-content: space-between;
  align-items: start;
  .item {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: size(339, 1920);
    .item-title {
      font-style: normal;
      font-weight: 600;
      font-size: size(25, 1920);
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #020523;
    }
    .descr {
      font-style: normal;
      font-weight: normal;
      font-size: size(18, 1920);
      line-height: 170%;
      letter-spacing: 0.02em;
      color: #020523;
      margin-top: size(24, 1920);
    }
  }
}

@media (max-width: 768px) {
  .lap {
    background-color: #f9f9fe;
    padding-top: size(55, 360);
    padding-bottom: size(70, 360);
  }
  .title {
    font-style: normal;
    font-weight: 600;
    font-size: size(24, 360);
    line-height: 140%;
    color: #020523;
  }

  .content {
    width: 100%;
    margin-top: size(0, 360);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    .item {
      margin-top: size(40, 360);
      display: flex;
      justify-content: space-between;
      align-items: start;
      flex-direction: column;
      width: 100%;
      .item-title {
        font-style: normal;
        font-weight: 600;
        font-size: size(22, 360);
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #020523;
      }
      .descr {
        font-style: normal;
        font-weight: normal;
        font-size: size(16, 360);
        line-height: 170%;
        letter-spacing: 0.02em;
        color: #020523;
        margin-top: size(24, 1920);
      }
    }
  }
}
</style>
