<template>
  <section class="results-work">
    <div class="container">
      <div class="header">
        <p class="title">Результаты работы</p>
      </div>
      <div class="slides">
        <slide
          v-for="(item, key) in results"
          :key="key"
          :index="key"
          :item="item"
        />
      </div>
      <div class="slider">
        <mobileSlider />
      </div>
    </div>
  </section>
</template>

<script>
import MainServices from "@/services/MainServices";

import slide from "@/components/home/result-work-slide";
import mobileSlider from "@/components/mobile/mobile-slider";
export default {
  name: "results-work",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    results() {
      return this.MainServices.getItems("/api/results");
    },
  },
  components: { slide, mobileSlider },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.results-work {
  background-color: #f9f9fe;
  padding-top: size(75, 1920);
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: size(32, 1920);
  line-height: 140%;
  color: #020523;
}

.slides {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: size(50, 1920);
}

.slider {
  display: none;
}

@media (max-width: 768px) {
  .results-work {
    background-color: #f9f9fe;
    padding-top: size(30, 360);
    padding-bottom: size(90, 360);
  }
  .title {
    font-size: size(24, 360);
  }
  .slides {
    display: none;
  }
  .slider {
    display: block;
    margin-top: size(20, 360);
  }
}
</style>
