<template>
  <div class="slide" :class="{ reverse: this.reverse }">
    <div class="twenty-slider-wrapper">
      <twenty-slider :item="item" />
    </div>
    <div class="slide-text">
      <div class="problem">
        <p class="title">Вопрос</p>
        <p class="text" v-html="item.question"></p>
      </div>
      <div class="answer">
        <p class="title">Ответ</p>
        <p class="text" v-html="item.answer"></p>
      </div>
    </div>
  </div>
</template>

<script>
import TwentySlider from "@/components/home/twentyslider";
export default {
  components: { TwentySlider },
  props: ["index", "item", "handlerStatus"],
  data() {
    return {
      intervalID: null,
      test: 0,
      count: 0,
      reverse: false,
    };
  },
  mounted() {
    if (this.index === 1 || (this.index >= 2 && this.index % 2 !== 0)) {
      this.reverse = true;
    }
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.slide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: size(112, 1920);
  img {
    width: size(620, 1920);
    border-radius: size(10, 1920);
  }
  .slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: size(416, 1920);
    height: 100%;
    .problem,
    .answer {
      display: flex;
      justify-content: flex-start;
      align-items: start;
      flex-direction: column;
      margin-bottom: size(20, 1920);
      .title {
        font-style: normal;
        font-weight: bold;
        font-size: size(20, 1920);
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #000000;
      }
      .text {
        margin-top: size(12, 1920);
        font-style: normal;
        font-weight: normal;
        font-size: size(20, 1920);
        line-height: 130%;
        letter-spacing: 0.02em;
        color: #000000;
      }
    }
  }
}

.reverse {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .slide {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    width: 100%;
    margin-bottom: size(112, 1920);
    img {
      width: 100%;
      border-radius: size(10, 360);
    }
    .slide-text {
      display: flex;
      align-items: start;
      width: 100%;
      // height: size(204, 360); высота сладер текста чтоб текст не обрезался
      margin-top: size(27, 360);
      .problem,
      .answer {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        .title {
          font-style: normal;
          font-weight: bold;
          font-size: size(16, 360);
          line-height: 140%;
          letter-spacing: 0.02em;
          color: #000000;
          margin-top: size(17, 360);
        }
        .text {
          margin-top: size(12, 1920);
          font-style: normal;
          font-weight: normal;
          font-size: size(16, 360);
          line-height: 130%;
          letter-spacing: 0.02em;
          color: #000000;
        }
      }
    }
  }
}
</style>
