<template>
  <div class="card">
    <span class="card-title">{{ division }}</span>
    <p class="card-text">{{ item.title }}</p>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  computed: {
    division: function () {
      return this.item.counter.toLocaleString();
    },
  },
  name: "statistic-item",
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";
.card {
  display: flex;
  flex-direction: column;
  background-color: #f9f9fe;
  padding: size(30, 1920);
  width: size(450, 1920);
  height: size(183, 1920);
  margin-bottom: size(20, 1920);
  border-radius: size(8, 1920);
  .card-title {
    font-style: normal;
    font-weight: 800;
    font-size: size(75, 1920);
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #3971ff;
  }
  .card-text {
    font-style: normal;
    font-weight: 500;
    font-size: size(22, 1920);
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #1e1e1e;
  }
}

@media (max-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f9fe;
    padding: size(22, 360);
    width: 100%;
    height: size(121, 360);
    margin-bottom: size(8, 360);
    border-radius: size(8, 360);

    .card-title {
      font-size: size(48, 360);
      line-height: 100%;
    }
    .card-text {
      font-size: size(18, 360);
    }
  }
}
</style>
