<template>
  <section class="statstatistics">
    <div class="container">
      <div class="statstatistics-header">
        <p class="title">
          Расскажите нам о том, <br />
          что вас волнует
        </p>
      </div>
      <div class="content">
        <div class="cards">
          <statisticsItem
            v-for="(item, key) in statistics"
            :key="key"
            :item="item"
          />
          <div class="link-wrapper">
            <a
              href="https://xn--80aaacsrmdgfbxdgdi5bs2e0g8b.xn--p1ai/"
              class="link"
            >
              Расказать о проблеме
              <svg
                viewBox="0 0 20 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M15.5633 9.98396H0.977539V7.98396H15.5633L9.27043 1.69107L10.6846 0.276855L19.3918 8.98396L10.6846 17.6911L9.27043 16.2769L15.5633 9.98396Z"
                  fill="#3971FF"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import MainServices from "@/services/MainServices";
import statisticsItem from "@/components/home/statistic-item";

export default {
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    statistics() {
      return this.MainServices.getItems("/api/statistics");
    },
  },
  components: {
    statisticsItem,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.statstatistics {
  padding-top: size(60, 1920);
  background: url("../../assets/img/stat-bg.png") no-repeat bottom right;
  background-size: size(580, 1920);
  padding-bottom: size(140, 1920);
}
.statstatistics-header {
  font-style: normal;
  font-weight: 600;
  font-size: size(48, 1920);
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #020523;
}

.content {
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: size(915, 1920);
    margin-top: size(90, 1920);
  }
}

.link-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: size(450, 1920);
  height: size(183, 1920);
  padding: size(30, 1920);
  font-size: size(25, 1920);
}

.link {
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #3971ff;
  svg {
    margin-left: size(10, 1920);
    width: size(27, 1920);
  }
}

@media (max-width: 768px) {
  .statstatistics {
    padding-top: size(60, 360);
    background: none;
    padding-bottom: size(60, 360);
  }
  .statstatistics-header {
    font-size: size(24, 360);
  }
  .content {
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      margin-top: size(90, 1920);
    }
  }
  .link-wrapper {
    margin-top: size(20, 360);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: size(30, 1920);
    font-size: size(18, 360);
  }

  .link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #3971ff;
    svg {
      margin-left: size(13, 360);
      width: size(22, 360);
    }
  }
}
</style>
