<template>
  <img-comparison-slider>
    <img
      slot="first"
      style="width: 100%"
      :src="$store.getters.getApiUrl + item.before"
    />
    <img
      slot="second"
      style="width: 100%"
      :src="$store.getters.getApiUrl + item.after"
    />

    <svg
      slot="handle"
      viewBox="0 0 42 19"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M8.86035 2.26416L2.20238 8.92213C1.70469 9.41983 1.70469 10.2267 2.20238 10.7244L8.86035 17.3824"
        stroke="#3971FF"
        stroke-width="2.54885"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M32.751 2.26416L39.4089 8.92213C39.9066 9.41983 39.9066 10.2267 39.4089 10.7244L32.751 17.3824"
        stroke="#3971FF"
        stroke-width="2.54885"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </img-comparison-slider>
</template>

<script>
export default {
  props: ["item"],
  mounted() {
    let frames = document.querySelectorAll("img-comparison-slider");
    frames.forEach((elem) => {
      if (window.innerWidth <= 768) {
        elem.shadowRoot
          .querySelector(".handle")
          .setAttribute(
            "style",
            "background: white !important; width: 8.056vw; height: 8.056vw; border-radius: 50%; display: flex !important; align-items: center !important; justify-content: center !important; padding: 1vw;"
          );
        elem.shadowRoot.querySelector("svg").setAttribute("width", "5.833vw");
        elem.shadowRoot
          .querySelector(".divider")
          .setAttribute("style", "cursor: pointer;");
      } else {
        elem.shadowRoot
          .querySelector(".handle")
          .setAttribute(
            "style",
            "background: white !important; width: 2.865vw; height: 2.865vw; border-radius: 50%; display: flex !important; align-items: center !important; justify-content: center !important; padding: 0.4vw; cursor: pointer;"
          );
        elem.shadowRoot.querySelector("svg").setAttribute("width", "2.5vw");
        elem.shadowRoot
          .querySelector(".divider")
          .setAttribute("style", "cursor: pointer;");
      }
    });
  },
};
</script>
