<template>
  <li>
    <div class="question" @click="open = !open">
      <span v-if="!open">+</span>
      <span v-else>-</span>
      <div v-html="item.question"></div>
    </div>
    <transition
      name="accordion"
      @enter="start"
      @after-enter="end"
      @before-leave="start"
      @after-leave="end"
    >
      <div class="answer" v-show="open" v-html="item.answer"></div>
    </transition>
  </li>
</template>

<script>
export default {
  props: {
    item: Object,
  },
  data() {
    return {
      open: false,
    };
  },
  methods: {
    start(el) {
      el.style.height = el.scrollHeight + "px";
    },
    end(el) {
      el.style.height = "";
    },
  },
};
</script>

<style scoped lang="scss">
li {
  padding: 0.5vw 0;
  border-bottom: 0.03vw solid #eaeaea;
  margin-bottom: 1vw;
}
.question {
  display: flex;
  align-items: center;
  font-size: 1.2vw;
  color: #618eff;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.05vw;
  margin-bottom: 0.5vw;
  span {
    user-select: none;
    cursor: pointer;
    letter-spacing: normal;
    border-radius: 50%;
    background: #618eff;
    min-width: 1.2vw;
    height: 1.2vw;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    margin-right: 0.7vw;
    color: #fff;
  }
}
.answer {
  line-height: 120%;
  letter-spacing: 0.02vw;
  font-size: 1.1vw;
  padding-left: 1.8vw;
  &::v-deep a {
    color: #007bff;
  }
}

@media (max-width: 768px) {
  li {
    padding-bottom: 2vw;
  }
  .question {
    font-size: 5vw;
    margin-bottom: 2vw;
    span {
      font-size: 5vw;
      min-width: 5vw;
      min-height: 5vw;
      margin-right: 2.7vw;
    }
  }
  .answer {
    font-size: 4vw;
    padding-left: 8vw;
  }
}

// animation
.accordion-enter-active,
.accordion-leave-active {
  will-change: height, opacity;
  transition: height 0.4s ease, opacity 0.4s ease;
  overflow: hidden;
}

.accordion-enter,
.accordion-leave-to {
  height: 0 !important;
  opacity: 0;
}
</style>
