<template>
  <router-link :to="path" href="#" class="back">
    <svg viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M4.41436 10.0001L10.7073 16.293L9.29304 17.7072L0.585938 9.00008L9.29304 0.292969L10.7073 1.70718L4.41436 8.00008H19.0002V10.0001H4.41436Z"
        fill="#020523"
      />
    </svg>
    <p>{{ text }}</p>
  </router-link>
</template>

<script>
export default {
  props: {
    path: String,
    text: String,
  },
};
</script>

<style scoped lang="scss">
@import "./src/assets/scss/style";

.back {
  margin-top: size(50, 1920);
  margin-bottom: size(50, 1920);
  display: flex;
  text-decoration: none;
  align-items: center;
  svg {
    width: size(24, 1920);
    padding-bottom: size(7, 1920); // делаю стрелку по центру
    path {
      fill: #8d8d9e;
    }
  }
  p {
    margin-left: size(22, 1920);
    font-weight: 300;
    font-size: size(24, 1920);
    color: #8d8d9e;
    line-height: size(33, 1920);
    margin-top: -size(8, 1920);
  }
}
@media (max-width: 768px) {
  .back {
    margin-top: size(24, 360);
    margin-bottom: size(23, 360);
    svg {
      width: size(20, 360);
      padding-bottom: size(7, 360); // делаю стрелку по центру
      path {
        fill: #8d8d9e;
      }
    }
    p {
      margin-left: size(15, 360);
      font-size: size(15, 360);
      line-height: size(33, 360);
      margin-top: -size(8, 360);
    }
  }
}
</style>
