<template>
  <a :href="item.link" :title="item.title" class="card">
    <img :src="$store.getters.getApiUrl + item.image" alt="Иконка" />
    {{ item.title }}
  </a>
</template>

<script>
export default {
  props: {
    item: {
      required: true,
      type: Object,
    },
  },
  name: "informational-resources-item",
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-style: normal;
  border: 1px solid #d6d6da;
  font-weight: 500;
  font-size: size(18, 1920);
  line-height: 140%;
  color: #000000;
  border-radius: size(8, 1920);
  width: size(385, 1920);
  height: size(105, 1920);
  padding: size(25, 1920);
  // margin-bottom: 0.7vw;
  img {
    width: size(60, 1920);
    margin-right: size(24, 1920);
  }
  .card-title {
    font-style: normal;
    font-weight: 500;
    font-size: size(18, 1920);
    line-height: 140%;
    color: #000000;
  }
}
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: size(75, 360);
    padding: size(20, 360);
    margin-bottom: size(10, 360);
    font-size: size(16, 360);
    border-radius: size(8, 360);
    img {
      width: size(42, 360);
      margin-right: size(22, 360);
    }
    .card-title {
      font-size: size(15, 360);
    }
  }
}
</style>
