<template>
  <router-link :to="'/houses/' + item.id.toString()" class="tablet">
    <img :src="'https://artamonovigor.ru/img/houses/' + item.icon" alt="" />
    <p class="text">
      {{ item.address }}
    </p>
  </router-link>
</template>

<script>
export default {
  name: "tablet",
  props: { item: Object },
  data() {
    return {
      itemID: this.id + 1,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../../assets/scss/style";

.tablet {
  border-radius: size(8, 1920) !important;
  width: size(592, 1920);
  height: size(97, 1920);
  border: 1px solid #d6d6da;
  display: flex;
  align-items: center;
  padding: size(26, 1920);
  padding-right: size(10, 1920);
  margin-bottom: size(15, 1920);
  img {
    width: size(47, 1920);
  }
  .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: size(24, 1920);
    height: 100%;
    font-size: size(16, 1920);
    line-height: 100%;
    color: #020523;
  }
}

@media (max-width: 768px) {
  .tablet {
    border-radius: size(8, 360) !important;
    width: 100%;
    height: size(97, 360);
    padding: size(22, 360);
    padding-right: 0;
    margin-bottom: size(7, 360);
    img {
      width: size(47, 360);
    }
    .text {
      margin-left: size(20, 360);
      font-size: size(14, 360);
      line-height: 140%;
    }
  }
}
</style>
