<template>
  <div id="app">
    <component :is="layout" />
    <main class="main">
      <router-view />
    </main>
    <component :is="footerLayout" />
  </div>
</template>

<script>
export default {
  computed: {
    layout() {
      return this.$route.meta.layout || "default-layout";
    },
    footerLayout() {
      return this.$route.meta.footerLayout || "footer-layout";
    },
  },
};
</script>

<style lang="scss">
@import "./src/assets/scss/style";
#app {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100%;
  @media (max-width: 768px) {
    height: auto;
  }
}

.main {
  flex: 1 0 auto !important;
  min-height: 30vh;
}

.swiper-pagination {
  width: 90%;
  margin: 9vw auto 0;
}
.swiper-pagination-bullet {
  border-radius: 50% !important;
  background-color: #8d8d9e;
  width: size(15, 360) !important;
  height: size(15, 360) !important;
  margin-left: size(7, 360);
  margin-right: size(7, 360);
}
.swiper-pagination-bullet-active {
  background-color: #3971ff !important;
  border-radius: 50% !important;
  width: size(15, 360) !important;
  height: size(15, 360) !important;
}

//TWENTY SLIDER PC

img-comparison-slider {
  outline: none !important;
  width: size(619, 1920);
  height: size(302, 1920) !important;
  border-radius: 8px !important;

  --divider-width: 3px;
  --divider-color: #ffffff;
  --default-handle-color: #3971ff;

  img {
    object-fit: cover;
    border-radius: 8px !important;
  }
  .handle {
    width: size(50, 1920);
    background-color: white !important;
    border: 1px solid white !important;
    margin-left: 0 !important;
    &:before,
    &:after {
      border: 1px solid white;
      background-color: white;
    }
    .twentytwenty-arrow-right {
      border-left: 7px solid #3971ff !important;
    }
    .twentytwenty-arrow-left {
      border-right: 7px solid #3971ff !important;
    }
  }
}

//TWENTY SLIDER MOBILE

@media (max-width: 768px) {
  img-comparison-slider {
    z-index: 100 !important;
    width: 100% !important;
    height: size(170, 360) !important;
    img {
      width: 100%;
      object-fit: cover !important;
    }
    .twentytwenty-handle {
      width: size(50, 1920);
      background-color: white !important;
      border: 1px solid white !important;
      &:before,
      &:after {
        border: 1px solid white;
        background-color: white;
      }
      .twentytwenty-arrow-right {
        border-left: 7px solid #3971ff !important;
      }
      .twentytwenty-arrow-left {
        border-right: 7px solid #3971ff !important;
      }
    }
  }
  .twenty-slider-wrapper {
    width: 100%;
    height: 100%;
  }
}

//resourceMobileSlider
.bannerMobileSlider {
  .hooper-slide {
    margin-right: size(16, 360) !important;
  }
}
</style>
