<template>
  <header>
    <div class="container">
      <div class="content-wrapper" :class="{ activeMenu: activeMenu }">
        <router-link to="/">
          <div class="logo">
            <img src="../assets/img/logo.png" alt="Логотип" />
            <div class="text">
              <span>Развиваем</span>
              <span class="text-blue">Липецкую область</span>
              <span>вместе</span>
            </div>
          </div>
        </router-link>
        <nav>
          <ul>
            <li v-for="(item, key) in menus" :key="key" :item="item">
              <a :href="item.link" v-if="checkLink">{{ item.title }}</a>
              <router-link :to="item.link" v-else>{{ item.title }}</router-link>
            </li>
          </ul>
        </nav>
        <a
          type="button"
          href="https://xn--80aaacsrmdgfbxdgdi5bs2e0g8b.xn--p1ai/"
          class="lk-button"
        >
          Вход в ЛК
          <svg
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.5633 9.98396H0.977539V7.98396H15.5633L9.27043 1.69107L10.6846 0.276855L19.3918 8.98396L10.6846 17.6911L9.27043 16.2769L15.5633 9.98396Z"
              fill="#3971FF"
            />
          </svg>
        </a>
      </div>
    </div>
    <!--    HEADER BOTTOM-->
    <div class="mobile-header__wrapper">
      <div class="container">
        <div class="content">
          <div
            class="burger-menu"
            :class="{ burgerActive: activeMenu }"
            @click="activeMenu = !activeMenu"
          >
            <span></span>
            <span></span>
            <span></span>
          </div>
          <a
            type="button"
            href="https://xn--80aaacsrmdgfbxdgdi5bs2e0g8b.xn--p1ai/"
            class="lk-button"
          >
            Вход в ЛК
            <svg
              viewBox="0 0 20 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M15.5633 9.98396H0.977539V7.98396H15.5633L9.27043 1.69107L10.6846 0.276855L19.3918 8.98396L10.6846 17.6911L9.27043 16.2769L15.5633 9.98396Z"
                fill="#3971FF"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import MainServices from "@/services/MainServices";

export default {
  data() {
    return {
      MenusServices: new MainServices(),
      activeMenu: false,
    };
  },
  computed: {
    menus() {
      return this.MenusServices.getItems("/api/menus");
    },
  },
  methods: {
    checkLink(link) {
      if (link.substring(0, 4) === "http" || link.substring(0, 3) === "www")
        return true;
    },
  },
  watch: {
    activeMenu: function () {
      if (this.activeMenu) {
        document.documentElement.style.overflow = "hidden";
        return;
      }
      document.documentElement.style.overflow = "auto";
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/scss/style";

.container {
  display: flex;
}

.text-blue {
  color: $blue;
}

header {
  width: 100%;
  padding-top: size(16, 1920);
  padding-bottom: size(16, 1920);
}

.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  img {
    width: size(44, 1920);
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: size(24, 1920);
    font-weight: 700;
    font-size: size(19, 1920);
    color: #506676;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-right: size(25, 1920);
      a {
        font-style: normal;
        font-weight: normal;
        font-size: size(18, 1920);
        line-height: size(28, 1920);
        color: #8d8d9e;
        &:hover {
          color: #3971ff;
        }
      }
    }
  }
}

.lk-button {
  background: white;
  width: size(168, 1920);
  height: size(48, 1920);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: size(18, 1920);
  color: #3971ff;
  border: 1px solid #c4c4c4;
  border-radius: size(6, 1920);
  cursor: pointer;
  &:hover {
    background-color: #f6f6f6;
  }
  svg {
    width: size(20, 1920);
    margin-left: size(12, 1920);
  }
}

@media (max-width: 768px) {
  nav,
  .lk-button {
    border-radius: size(6, 360);
    display: none;
    transition: 0.2s;
  }
  header {
    width: auto;
    padding-top: size(16, 360);
    padding-bottom: size(16, 360);
  }
  .logo {
    img {
      width: size(24, 360);
    }
    .text {
      margin-left: size(13, 360);
      font-size: size(14, 360);
    }
  }
}

/********************BOTTOM SECTION**********************/

.mobile-header__wrapper {
  display: none;
  border-top: 1px solid #cdcdd5;
  padding-top: size(13, 360);
  margin-top: size(13, 360);
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lk-button {
    width: size(159, 360);
    height: size(43, 360);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: size(16, 360);
    color: #3971ff;
    border: 1px solid #c4c4c4;
    border-radius: size(6, 360);
    &:hover {
      background-color: #f6f6f6;
    }
    svg {
      width: size(14, 360);
      margin-left: size(10, 360);
    }
  }

  .burger-menu {
    width: size(30, 360);
    height: size(21, 360);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: 0.2s;
    span {
      width: 100%;
      background-color: black;
      height: 3px;
      transition: 0.2s;
    }
  }
}

@media (max-width: 768px) {
  .mobile-header__wrapper {
    display: block;
  }
}

.activeMenu {
  nav {
    position: absolute;
    background-color: white;
    height: 100%;
    display: block;
    top: size(140, 360);
    left: 0;
    right: 0;
    z-index: 3;
    overflow: hidden;
    transition: 0.2s;
    ul {
      margin-top: size(20, 360);
      display: flex;
      flex-direction: column;
      li {
        margin-bottom: size(20, 360);
        a {
          font-size: size(19, 360);
        }
      }
    }
  }
}

.burgerActive {
  top: size(10, 360);
  z-index: 3;
  transition: 0.2s;
  span:nth-of-type(1) {
    display: none;
    transition: 0.2s;
  }

  span:nth-of-type(2) {
    transform: rotate(-45deg);
    position: absolute;
    transition: 0.2s;
  }

  span:nth-of-type(3) {
    transform: rotate(45deg);
    transition: 0.2s;
  }
}
</style>
