<template>
  <footer>
    <div class="footer-header">
      <div class="container">
        <div class="content">
          <div class="col">
            <p class="title" id="mobile-none">
              Проект создан по инициативе И.Г. Артамонова
            </p>
            <a href="#" class="gplay-link">
              <img src="../assets/img/gplay.png" alt="" />
            </a>
          </div>
          <div class="col">
            <p class="title">Техническая поддержка:</p>
            <p class="descr">
              <svg
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="24 / basic / globe">
                  <path
                    id="icon"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 1C18.0751 1 23 5.92487 23 12C23 18.0751 18.0751 23 12 23C5.92487 23 1 18.0751 1 12C1 5.92487 5.92487 1 12 1ZM3.06565 10.9074C3.35719 11.2805 4.16782 11.758 5.40826 12.1475C5.89668 12.3009 6.4316 12.4357 7.00555 12.5502C7.00186 12.3679 7 12.1844 7 12C7 8.67236 7.60556 5.6673 8.65455 3.64231C5.66412 4.84042 3.46628 7.59699 3.06565 10.9074ZM7.12914 14.6108C5.52334 14.3317 4.14644 13.9093 3.10296 13.3658C3.58837 16.5542 5.74677 19.1927 8.65455 20.3577C7.88867 18.8792 7.35916 16.8783 7.12914 14.6108ZM9.17891 14.8773C10.076 14.9581 11.0209 15 12 15C12.9633 15 13.9124 14.9454 14.8253 14.8441C14.3742 18.4417 13.127 21 12 21C10.8765 21 9.63347 18.4574 9.17891 14.8773ZM14.9863 12.8045C14.0367 12.9275 13.028 13 12 13C10.9558 13 9.95341 12.9483 9.01531 12.8502C9.00522 12.5706 9 12.287 9 12C9 6.98399 10.5936 3 12 3C13.4064 3 15 6.98399 15 12C15 12.2713 14.9953 12.5397 14.9863 12.8045ZM16.8792 14.5269C16.6539 16.8289 16.1208 18.861 15.3454 20.3577C18.3046 19.1721 20.4876 16.4606 20.9212 13.1964C19.861 13.7479 18.4647 14.209 16.8792 14.5269ZM20.9285 10.8601C20.458 11.3883 18.9737 12.0157 16.9962 12.4541C16.9987 12.3035 17 12.1521 17 12C17 8.67236 16.3944 5.6673 15.3454 3.64231C18.3216 4.83471 20.5128 7.57077 20.9285 10.8601Z"
                    fill="white"
                  />
                </g>
              </svg>
              info@artamonovigor.ru
            </p>
          </div>
          <div class="col">
            <p class="title">
              <svg
                viewBox="0 0 21 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.85651 6.3379C10.3746 5.63969 10.5604 4.90384 9.97444 4.25431C8.65949 2.41433 7.77515 1.27649 7.22044 0.728537C6.16589 -0.313196 4.43112 -0.172285 3.51779 0.727647C3.02723 1.21101 2.86116 1.377 2.35747 1.88861C-0.448184 4.69577 1.26285 10.63 5.81139 15.183C10.3589 19.735 16.2926 21.4469 19.1041 18.6338C19.5689 18.1858 19.9624 17.792 20.2728 17.464C21.1678 16.518 21.3037 14.8597 20.2669 13.7824C19.7354 13.2301 18.6503 12.3885 16.7329 11.0169C16.1457 10.4918 15.4494 10.6056 14.811 11.0244C14.504 11.2259 14.2805 11.4297 13.8585 11.8521L13.0923 12.6187C12.9914 12.7197 11.621 12.0334 10.2907 10.7018C8.95972 9.36953 8.2739 7.99906 8.37435 7.89862L9.14112 7.13142C9.27499 6.99742 9.339 6.93254 9.42108 6.84627C9.59209 6.66654 9.73368 6.50344 9.85651 6.3379ZM14.5057 14.0329L15.2721 13.2661C15.5044 13.0337 15.6549 12.8907 15.7773 12.7922C17.457 13.9984 18.4297 14.7568 18.8271 15.1697C19.0656 15.4176 19.0286 15.8699 18.8212 16.089C18.5342 16.3924 18.1613 16.7655 17.7037 17.2068C15.8857 19.0256 11.0959 17.6437 7.22513 13.7691C3.35315 9.89332 1.97188 5.10279 3.7762 3.29748C4.27786 2.78798 4.4368 2.62912 4.92035 2.15265C5.10166 1.97401 5.59552 1.93389 5.81608 2.15176C6.24314 2.57364 7.03534 3.58799 8.20071 5.21133C8.14038 5.28623 8.06503 5.37087 7.97333 5.46724C7.90603 5.53798 7.84996 5.59481 7.72738 5.71751L6.96136 6.48396C5.65821 7.787 6.76802 10.0047 8.87697 12.1157C10.9845 14.2253 13.203 15.3364 14.5057 14.0329Z"
                  fill="#FDFDFD"
                />
              </svg>
              8 920 519-49-46
            </p>
            <p class="gray">
              Только для написания текстовых сообщений(WhatsApp)
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>
          При полном или частичном копировании материалов ссылка на сайт
          обязательна ©
        </p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
@import "../assets/scss/style";
footer {
  flex: 0 0 auto;
  background-color: #4f4f58;
  display: flex;
  flex-direction: column;
}
.footer-header {
  padding-top: size(45, 1920);
  padding-bottom: size(45, 1920);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.col {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: size(270, 1920);
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: size(16, 1920);
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #ffffff;
    svg {
      width: size(24, 1920);
      margin-right: size(11, 1920);
    }
  }
  .gplay-link,
  p {
    display: flex;
    align-items: center;
    margin-top: size(20, 1920);
    svg {
      width: size(24, 1920);
      margin-right: size(11, 1920);
    }
    img {
      width: size(150, 1920);
    }
  }
}

.descr {
  font-style: normal;
  font-weight: normal;
  font-size: size(16, 1920);
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.gray {
  font-style: normal;
  font-weight: normal;
  font-size: size(14, 1920);
  line-height: 140%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.footer-bottom {
  padding-top: size(18, 1920);
  padding-bottom: size(18, 1920);
  p {
    font-style: normal;
    font-weight: normal;
    font-size: size(14, 1920);
    line-height: 140%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-header {
    padding-top: size(33, 360);
    padding-bottom: size(33, 360);
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  .col {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    .title {
      font-size: size(16, 360);
      margin-bottom: size(18, 360);
      svg {
        width: size(24, 360);
        margin-right: size(11, 360);
      }
    }
    .gplay-link,
    p {
      display: flex;
      align-items: center;
      margin-top: size(18, 360);
      svg {
        width: size(24, 360);
        margin-right: size(11, 360);
      }
      img {
        display: none;
      }
    }
  }
  .descr {
    font-size: size(16, 360);
  }

  .gray {
    font-size: size(14, 360);
  }
  .footer-bottom {
    padding-top: size(33, 360);
    padding-bottom: size(33, 360);
    p {
      font-size: size(13, 360);
    }
  }
  #mobile-none {
    display: none;
  }
}
</style>
