<template>
  <hooper class="bannerMobileSlider" :itemsToShow="2.5" :centerMode="false">
    <slide v-for="(item, key) in banners" :key="key">
      <banner-item :item="item" />
    </slide>
  </hooper>
</template>

<script>
import MainServices from "@/services/MainServices";
import bannerItem from "@/components/home/banner-item";

import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  name: "App",
  data() {
    return {
      MainServices: new MainServices(),
    };
  },
  computed: {
    banners() {
      return this.MainServices.getItems("/api/banners");
    },
  },
  components: {
    Hooper,
    Slide,
    bannerItem,
  },
};
</script>

<style lang="scss" scoped>
@import "./src/assets/scss/style";

.hooper {
  height: 100%;
}

.slide {
  padding-bottom: 50px !important;
}

.bannerMobileSlider {
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}
</style>
