<template>
  <div class="mobile-slider-wrapper">
    <swiper class="resultWorkSlider" ref="mySwiper" :options="swiperOptions">
      <swiper-slide v-for="(item, key) in results" :key="key">
        <resultWorkSlide :item="item" />
      </swiper-slide>
    </swiper>
    <div class="swiper-pagination"></div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";

import MainServices from "@/services/MainServices";
import resultWorkSlide from "@/components/home/result-work-slide";

export default {
  name: "App",
  data() {
    return {
      MainServices: new MainServices(),
      swiperOptions: {
        pagination: {
          el: ".swiper-pagination",
        },
        noSwiping: true,
        noSwipingClass: "twenty-slider-wrapper",
        autoHeight: true,
        centerSlides: true,
        spaceBetween: 35, // расстояние между слайдми px
      },
    };
  },
  computed: {
    results() {
      return this.MainServices.getItems("/api/results");
    },
  },
  components: {
    Swiper,
    SwiperSlide,
    resultWorkSlide,
  },
  directives: {
    swiper: directive,
  },
};
</script>
